.agr-bg-primary {
  background-color: #005750;
}

.agr-bg-grey {
  background-color: #E6E6E5;
}

body {
  color: #005750;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
}

.text-i {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

.text-b {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.text-sbi {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 600;
}

.text-bi {
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
  font-weight: 700;
}

.font-size-lg {
  letter-spacing: 1px;
  line-height: 2.5em;
  font-size: 0.875rem;
}

.font-size-md {
  font-size: 1.3rem;
}

a:hover {
  color: white;
}

.agrisolName {
  font-family: 'Bebas Neue';
  font-size: 10vw;
  color: white;
  letter-spacing: 2vw;
}

@media (min-width: 992px) {
  .agrisolName {
    font-size: 6.5rem;
    letter-spacing: 2.5rem;
  }
}

.agrisolSlogan {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  letter-spacing: 0.06rem;
  color: white;
}

@media (min-width: 992px) {
  .agrisolSlogan {
    font-size: 1.3rem;
    letter-spacing: 0.06rem;
  }
}

.agrisolDescription {
  font-size: 1rem;
  letter-spacing: 0.05rem;
}

@media (min-width: 992px) {
  .agrisolDescription {
    font-size: 1.25rem;
    letter-spacing: 0.06rem;
  }
}

.fold-heading {
  font-family: 'Bebas Neue', cursive;
  font-size: 2.8rem;
  letter-spacing: 0.18rem;
}

.fold-heading-2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.875rem;
  font-weight: 600;
  letter-spacing: 0.06rem;
  font-style: italic;
}

.fold-heading-2 .text-u {
  border-bottom-color: #005750;
  border-bottom-width: 2px;
  border-bottom-style: solid;
}

.rowHeading {
  font-style: italic;
  font-weight: 700;
  letter-spacing: 1px;
  text-align: right;
  line-height: 2.5em;
  font-size: 0.875rem;
}

.rowText {
  letter-spacing: 1px;
  text-align: justify;
  line-height: 2.5em;
  font-size: 0.875rem;
}

.rtl {
  direction: rtl;
}

.text-wh {
  color: white;
}

.text-gld {
  color: #B49751;
}

.img-container-1 {
  background-image: url("../../Content/Images/landing-page-4.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 100%;
}

.img-container-1 .content {
  min-height: 500px;
}

.img-container-2 {
  background-image: url("../../Content/Images/23-smaller.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container-8 {
  background-image: url("../../Content/Images/values.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.img-container-9 {
  background-image: url("../../Content/Images/studio.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.brandLogo {
  color: #005750;
  font-family: 'Bebas Neue', cursive;
}

.brandLogo .brandText .name {
  font-size: 38px;
  letter-spacing: 10px;
}

.brandLogo .brandText .slogan {
  font-size: 11px;
  letter-spacing: 4px;
  margin-top: -11px;
}

#theme .nav-item {
  border: 2px solid transparent;
}

#theme .nav-item.active {
  border: 2px solid #005750;
}

#theme .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #005750;
  font-size: 0.8rem;
  letter-spacing: 0.07rem;
}

#contact-tabs .nav-link {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3rem;
  font-style: italic;
  color: #93A3A1;
  letter-spacing: 0.06rem;
  border-bottom: 2px solid #93A3A1;
  padding-bottom: 15px;
  padding-top: 15px;
  font-weight: normal;
  border-radius: 0;
}

#contact-tabs .nav-link.active {
  background-color: transparent;
  border-color: white;
  color: white;
}

footer {
  background-color: #93A3A1;
  height: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #005750;
  font-weight: 700;
  font-size: 0.8rem;
  padding-top: 15px;
}

.bookmark:before {
  display: block;
  content: " ";
  height: 80px;
  margin-top: -80px;
}

.border-red {
  border: 1px solid red;
}
/*# sourceMappingURL=base.css.map */