@font-face {
    font-family: 'BebasNeue';
    src: url("../Fonts/BebasNeue-Regular.ttf") format("truetype");
  }

  .brandLogo {
    font-family: 'BebasNeue', Arial, Helvetica, sans-serif;
    font-display: block;
}