.img-container-1
  {
    background-image: url('../../Content/Images/landing-page-4.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    height:100%;

    .content
    {
      min-height:500px;
      
    }
  }

