footer{
    background-color: $green-1;
    height: 50px;
    justify-content: center;
    color: #005750;
    font-weight: 700;
    font-size: 0.8rem;
    padding-top: 15px;
}

//to fix navbar overlap for scrollspy
//see http://nicolasgallagher.com/jump-links-and-viewport-positioning/demo/
.bookmark:before
{
	display:block;
	content:" ";
	height:80px;
	margin-top:-80px;
}

//debug

// [class*="col"] {
//     border:1px solid magenta
// }

.border-red {
    border:1px solid red;
}

.border-blue {
    border:1px solid blue;
}

.clickable{
    cursor:pointer;
}


.list-group-item-action{
    cursor: pointer;
    background-color: #f2f6f6;
    color: $brand-primary;
    font-weight: 600;
    
    &.disabled{
        background-color: white;
    }

    &:active {
        background-color: $brand-primary;
        color: white;
    }
}