body 
{
    color: $brand-primary;
    font-family:'Open Sans', sans-serif;
}

.text-i
{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
}

.text-b
{
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}

.text-sbi
{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 600;
    
}

.font-size-lg{
    letter-spacing: 1px;
    line-height: 2.5em;
    font-size:0.875rem;
}

.font-size-md{
    //letter-spacing: 1px;
    font-size:1.3rem;
}

.agrisolName
{
    font-family: 'Bebas Neue';
    font-size:10vw;
    color:white;
    letter-spacing: 2vw;

    @media (min-width: 992px) {
        font-size:6.5rem;
        letter-spacing: 2.5rem;
      }
}

.agrisolSlogan
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    color:white;

    @media (min-width: 992px) {
        font-size:1.3rem; //20
        letter-spacing: 0.06rem; //1
      }
}

.fold-heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8rem;
    letter-spacing:0.18rem;
}

.fold-heading-2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.875rem;
    font-weight:600;
    letter-spacing:0.06rem;
    font-style: italic;

    .text-u
    {
        border-bottom-color: $brand-primary;
        border-bottom-width: 2px;
        border-bottom-style: solid;
    }

}

.rowHeading {
    font-style: italic;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: right;
    line-height: 2.5em;
    font-size:0.875rem;
}

.rowText {
    letter-spacing: 1px;
    text-align: justify;
    line-height: 2.5em;
    font-size:0.875rem;
}

.rtl
{
    direction:rtl;
}

.text-wh
{
    color: white;
}

.text-gld
{
    color: $brand-secondary;
}