body 
{
    color: $brand-primary;
    font-family:'Open Sans', sans-serif;
}

.agrisolName
{
    font-family: 'Bebas Neue';
    font-size:10vw;
    color:white;
    letter-spacing: 2vw;

    @media (min-width: 992px) {
        font-size:6.5rem;
        letter-spacing: 2.5rem;
      }
}

.agrisolSlogan
{
    font-family: 'Open Sans', sans-serif;
    font-size: 1vw;
    letter-spacing: 0.1vw;
    color:white;

    @media (min-width: 992px) {
        font-size:1.3rem; //20
        letter-spacing: 0.06rem; //1
      }
}

.fold-heading {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.8rem;
    letter-spacing:0.18rem;
}

.rowText {
    letter-spacing: 1px;
    text-align: justify;
    line-height: 2.5em;
    font-size:0.875rem;
}